body.kindling-development-environment-bar-enabled {
	padding-top: 24px;
}

.kindling-development-environment-bar {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background-color: #d9534f;
	height: 24px;
	font-size: 14px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	white-space: nowrap;
	overflow: hidden;
	z-index: 9999;
}

.admin-bar .kindling-development-environment-bar {
	top: 46px;
}
@media only screen and (min-width:767px){
  .admin-bar .kindling-development-environment-bar {
    top: 32px;
  }
  .kindling-development-environment-bar{
    position:fixed;
  }
}

.kindling-development-environment-bar-message {
	display: inline-block;
	margin-right: 10px;
}
